/* <!-- need a start button
Thinking i can use object and key pairs for q and a, although I don't like this, not very dry.
insted of boleans might be able to do a answer question pair insted of a question bolean pair
Remember to use JSON.stringify() and JSON.parse() to store and retrieve data for local storage
 --> */

 .cell{
    background-color: grey;
    width: 100%;
    float: left;
    margin-left: 14%;
    margin-right: 14%;
    text-align: center;
}

.btn{
    width: 25%;
    margin:3%;
    text-align: center;
      
}



.hideBtn {
    visibility: hidden;
}

.answerBtn{
    margin-right: 7%;
    margin-right: 7%;
    padding: 4%;
    width: 30%;
}

.startBtn{
    float: left;
}

.questionLocation{
    background-color: red;
}
